/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
ul.gallery {
  margin: 24px, 156px;
  display: grid;
  gap: 24px;
  padding: 0;
  justify-items: center;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

li {
  list-style-type: none;
  padding: 0;
}
li.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 3 * 24px) / 3);
}

a.gallery-link {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: auto;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  padding: 0;
}
