/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
/* Sections styles */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* Optional */
.body{
    padding:0;
    margin:0;
}

ul{
    padding:0;
}

.gallery {
    display:flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: center;
    
}

.gallery-item:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;

}

.gallery-item {
 list-style-type:none;
 width:360px;
 height:auto;
}

.gallery-image {
    width:100%;
}

.modal{
    background-color:#2E2F42;
}


.feedback-form {
    margin-left: 24px;
    margin-top: 24px;
}

.feedback-form * {
    display: block;
}

.feedback-form label {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

.feedback-form label input {
    width:360px;
    height:40px;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-color:#808080;
}

.feedback-form label input:hover {
    border-color:#000000;
}

.feedback-form label input:active::placeholder {
    color:#2E2F42;
}

.feedback-form label textarea {
    width:360px;
    height:80px;
    border-radius: 8px;
    margin-top: 8px;
    border-color:#808080;
}

.feedback-form label textarea:hover {
    border-color: #000000;
}

.feedback-form button {
    font-family: "Montserrat", sans-serif;
    margin-top:16px;
    width:95px;
    height:40px;
    border-radius: 8px;
    background-color: #4E75FF;
    border:none;
    color:white;
    font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
}

.feedback-form button:hover {
    border-color: #000000;
}